<h1 align="center"> Listing all articles </h1>


<% @articles.each do |art| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to art.title, article_path(art) %>
        </div>
        <div class="article-body">
          <%= truncate(art.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to 'Edit this article', edit_article_path(art), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(art), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
