@import 'bootstrap/dist/css/bootstrap';
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar {

background-color: #FDF6EA !important; //I assume important to override bootstrap?

}



// .navbar-brand {
//
// font-size: 3rem;
//
// }

#logo {
  float: left;
  font-size: 1.7em;
  color: blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('ruby-pic.jpeg');
  background-size: cover;
  height: 800px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


// h1 {
//
// color: red;
//
// }
